{
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      { "pragma": "h", "pragmaFrag": "Fragment" }
    ],
    ["babel-plugin-styled-components",
    {
      "ssr": true,
      "displayName": false,
      "fileName": false
    }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react",
    ["preact-cli/babel", { "modules": "commonjs" }]
  ]
}
