{
  "plugins": [
    ["@babel/transform-react-jsx", { "pragma": "h" }],
    "babel-plugin-styled-components"
  ],
  "presets": [
    ["preact-cli/babel", { "modules": "commonjs" }],
    "@babel/preset-react"
  ]
}
