{
  "plugins": [
    ["@babel/plugin-transform-react-jsx", { "pragma": "h" }],
    "babel-plugin-styled-components"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react",
    ["preact-cli/babel", { "modules": "commonjs" }]
  ]
}
