{
    "singleQuote": true,
    "trailingComma": "all",
    "semi": false,
    "printWidth": 120,
    "tabWidth": 4,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "arrowParens": "always"
}
