<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Primary Meta Tags -->
    <meta name="title" content="KUclap" />
    <meta name="description" content="ค้นหาและแบ่งปันรีวิววิชาบูรณาการ" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://marsdev31.github.io/KUclap/" />
    <meta property="og:title" content="KUclap" />
    <meta property="og:description" content="ค้นหาและแบ่งปันรีวิววิชาบูรณาการ" />
    <meta
      property="og:image"
      content="https://marsdev31.github.io/KUclap/assets/img/og-image.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://marsdev31.github.io/KUclap/"
    />
    <meta property="twitter:title" content="KUclap" />
    <meta
      property="twitter:description"
      content="ค้นหาและแบ่งปันรีวิววิชาบูรณาการ"
    />
    <meta
      property="twitter:image"
      content="https://marsdev31.github.io/KUclap/assets/img/og-image.png"
    />
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-40932170-4"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-40932170-4");
    </script>
  </body>
</html>
