<!DOCTYPE html>
<html lang="th">
  <head>
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-40932170-4"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-40932170-4");
    </script>
  </body>
</html>
