<!DOCTYPE html>
<html lang="th">
  <head>
    <!-- <meta charset="utf-8" />
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" /> -->
    <!-- Primary Meta Tags -->
    <!-- <meta
      name="title"
      content="KUclap : เว็บไซต์ค้นหาและแบ่งปันรีวิววิชาบูรณาการ มก."
    /> -->
    <!-- <meta
      name="description"
      content="แหล่งรวม ค้นหารีวิว เขียนรีวิว คำแนะนำ วิชาบูรณาการ วิชาบูร วิชาบูรฯ วิชาเสรี วิชาเลือก วิชาศึกษาทั่วไป รีวิว หน่วยกิต ชั่วโมงเรียน อาจารย์ การบ้าน ม.เกษตร มหาวิทยาลัยเกษตรศาสตร์ มก. KU - KUclap"
    /> -->

    <!-- Open Graph / Facebook -->
    <!-- <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kuclap.com/" />
    <meta
      property="og:title"
      content="KUclap เว็บไซต์ค้นหาและแบ่งปันรีวิววิชาบูรณาการ มก."
    />
    <meta
      property="og:description"
      content="แหล่งรวม ค้นหารีวิว เขียนรีวิว คำแนะนำ วิชาบูรณาการ วิชาบูร วิชาบูรฯ วิชาเสรี วิชาเลือก วิชาศึกษาทั่วไป รีวิว หน่วยกิต ชั่วโมงเรียน อาจารย์ การบ้าน ม.เกษตร มหาวิทยาลัยเกษตรศาสตร์ มก. KU - KUclap"
    />
    <meta
      property="og:image"
      content="https://kuclap.com/assets/img/meta-og-image.png"
    /> -->

    <!-- Twitter -->
    <!-- <meta property="twitter:card" content="summary_large_image" /> -->
    <!-- <meta property="twitter:url" content="https://kuclap.com/" />
    <meta
      property="twitter:title"
      content="KUclap เว็บไซต์ค้นหาและแบ่งปันรีวิววิชาบูรณาการ มก."
    />
    <meta
      property="twitter:description"
      content="แหล่งรวม ค้นหารีวิว เขียนรีวิว คำแนะนำ วิชาบูรณาการ วิชาบูร วิชาบูรฯ วิชาเสรี วิชาเลือก วิชาศึกษาทั่วไป รีวิว หน่วยกิต ชั่วโมงเรียน อาจารย์ การบ้าน ม.เกษตร มหาวิทยาลัยเกษตรศาสตร์ มก. KU - KUclap"
    />
    <meta
      property="twitter:image"
      content="https://kuclap.com/assets/img/meta-og-image.png"
    /> -->
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-40932170-4"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-40932170-4");
    </script>
  </body>
</html>
